<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<!-- <link rel= "stylesheet" href= "{{ url_for('static',filename='css/main.css') }}"> -->
        <link rel= "stylesheet" href= "/static/css/caseManage.css">
        <link rel= "stylesheet" href= "static/css/main.css">
      
		<title></title>
		
	</head>    
	
        <body>
            <div class="container" id="caseBox">
				<div class="row">
					<div class="col d-flex justify-content-center">
						<div class="card">
							<div class="card-body">
                                <form action="{{ url_for('caseManage') }}" class="form" method="POST">
                                    
                                    <label id="label1">Case ID</label><br>
									<input type="text" class="form-control" placeholder="Enter Case ID" name="caseID" value="{{request.form.caseID}}" required><br>
                                    
                                    <label id="label1">Investigator Name</label><br>
                                    <input type="text" class="form-control" placeholder="Enter Investigator's Name" name="investigatorID" value="{{request.form.investigatorID}}" required><br>
                                    
                                    <label id="label1">Case Password</label><br>
                                    <input type="password" class="form-control" placeholder="Enter Case Password" name="casePassword" value="{{request.form.casePassword}}" required><br><br>
                                    
                                    <input type="submit" class="btn btn-block btn-lg" value="Load Case">
                                
                                </form>
                                <p style="color: aliceblue;">Create new Case? <a href="/newCase" style="color: aqua;">click here</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </body>
</html>