<!DOCTYPE html>

<html>
<head>
	<title>Fetch</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="static/css/main.css">

	<style>
		div {
			margin-right: 100px;
			margin-left: 100px;
		}

		table {
			font-family: arial, sans-serif;
			border-collapse: collapse;
			width: 50%;
		}

		td,
		th {
			border: 1px solid #dddddd;
			text-align: left;
			margin: 10px 10px;
			padding: 10px;
		}

		/*tr:nth-child(even) {
  background-color: 000003;
}
*/
	</style>
</head>
	
   <body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
				<ul class="nav navbar-nav">
					<li><a href="/Overview">Overview</a></li>
					<li class="active"><a href="/fetch">Evidence Repo</a></li>
					<li><a href="/Analysis">Analysis</a></li>
					<li><a href="/display_table">Memory</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Account<span
								class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Settings</a></li>
							<li><a href="#">Switch User</a></li>
						</ul>
					</li>
					<li><a href="/login"><button type="button" class="btn btn-default btn-sm"><span
									class="glyphicon glyphicon-log-out"></span>Log Out</button></a></li>
				</ul>
			</nav>
			
			</br></br></br></br></br></br>

			<div>
				<form action="{{url_for('fetch1')}}" class="form" method="GET" , "POST">
					<select name="VMID" id="VMID" method="GET" ,"POST" action="/fetch1">
						<option value="All" SELECTED>VMID</option>
							{% for row in myresult %}
								<option value="{{row[0]}}">{{row[0]}}</option>
							{% endfor %}
					</select>
					<input type="submit" value=Submit></br>
					{% for message in get_flashed_messages() %}
							{{ message|safe }}
								{% endfor %}
					<br>

				</form>
			</div>

        
            
            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        </body>
    

</html>