<!DOCTYPE html>
<html>
<head>
<title>Overview</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel= "stylesheet" href= "static/css/main.css">
  <link rel= "stylesheet" href= "static/css/overview.css">
          

<style>

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 200px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {background-color: 000003;}

td, th {
  border: 1.5px solid #dddddd;
  text-align: left;
  margin: 4px 2px;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: 000003;
}
</style>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
  
  <div class="container-fluid">
  <!-- <div class="navbar-header">
    <a class="navbar-brand" href="#">Forex</a>
  </div> -->
  
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Overview</a></li>
      <li><a href="/eviRepo.html">Evidence Repo</a></li>
      <li><a href="#">Analysis</a></li>
      <li><a href="#">Memory</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Account<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Settings</a></li>
          <li><a href="#">Switch User</a></li>
        </ul>
      </li>
      <li><a href="#"><button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-log-out"></span>Log Out</button></a></li>
    </ul>
  </div>
</nav>

</br>
</br>
</br></br></br></br>
<button align="right" id="but" type="button" style="float: right;" data-toggle="modal" data-target="#mymodal">
New Finding Entry
</button>

</br></br>

<h2>
<center>Overview</center>
</h2>
</br>

<table>
  <tr>
    <th>Description</th>
    <th>Evidence details related to Finding</th>
    <th>Datetime of the Finding</th>
  </tr>
  
  {% for row in Finding %}
    <tr>
      <th>{{row.Description}}</th>
      <th>{{row.Evidence_Details}}</th>
      <th>{{row.Datetime_of_the_Finding}}</th>
    </tr>
  {% endfor %}

</table>

<!-- Modal Add Finding-->
<div id="mymodal" class="modal fade" role="dialog">
    <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header"><h4 class="modal-title">New Finding Entry</h4></div>
    <div class="modal-body">

    <form action="{{url_for('insert')}}" method="POST">

      <div class="form-group">
        <label>Description of the Finding:</label>
        <input type="text" class="form-control" placeholder="Description" name="Description_of_the_Finding" required="1">
      </div>
      </br>

      <div class="form-group">
        <label>Evidence Details:</label>
        <input type="text" class="form-control" placeholder="Evidence Details" name="Evidence_details" required="1">
      </div>
      </br>


      
      <div class="form-group">
        <label>Datetime of the Finding:</label>
        <p> 
        <input type="datetime-local" id="findingtime" name="findingtime">
        <input type="submit" value="Submit">
        </p>
      </div>
      </br>
      
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Add Finding</button>
      </div>
    </form>
    </div>

    <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>

   </div>
   </div>
</div>
   
 </div>
 </div>
</div>

</body>
</html>
